{% extends 'base.html' %}
{% load static %}

{% block title %}
    Page Not Found
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="text">
            <div class="wrapper">
    <h1>404 - Page Not Found</h1>
                <img src="{% static 'img/broken_car_404.jpg' %}" alt="opps,404" width="350" height="350">
    <p>The requested page could not be found.</p>
    <a href="{% url 'index' %}">
            <button class="btn">Return to AutoVibe</button>
        
    </a>

</div>
        </div>
    </div>
{% endblock %}