{% extends 'base.html' %}
{% load static %}

{% block title %}
    Page Not Found
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="text">
            <div class="wrapper">
    <h1>Well well well, this is awkward</h1>
                <img src="{% static 'img/fiat_500.jpg' %}" alt="opps,404" width="350" height="350">
    <p>Please contact us if you think this is an error</p>
    <a href="{% url 'index' %}">
            <button class="btn">Return to AutoVibe</button>
        
    </a>

</div>
        </div>
    </div>
{% endblock %}