{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %}#}
{#    Car Details#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <section class="hero">#}
{#        <div class="text">#}
{#            <div class="car-details">#}
{#                <div class="car-info">#}
{#                    <h1 style="color: white;">{{ brand }}</h1>#}
{#                    <ul>#}
{#                        <li><strong style="color: red;">Model:</strong> <span#}
{#                                style="color: white;">{{ model }}</span></li>#}
{#                        <li><strong style="color: red;">Year:</strong> <span#}
{#                                style="color: white;">{{ object.year }}</span></li>#}
{#                        <li><strong style="color: red;">Color:</strong> <span#}
{#                                style="color: white;">{{ object.color }}</span></li>#}
{#                        <li><strong style="color: red;">Price:</strong> <span#}
{#                                style="color: white;">{{ object.price }}</span></li>#}
{#                        <li><strong style="color: red;">Mileage:</strong> <span#}
{#                                style="color: white;">{{ object.mileage }}</span></li>#}
{#                        <li><strong style="color: red;">VIN:</strong> <span#}
{#                                style="color: white;">{{ object.vin }}</span></li>#}
{#                        <li><strong style="color: red;">Description:</strong> <span#}
{#                                style="color: white;">{{ object.description }}</span></li>#}
{#                    </ul>#}
{#                    <h3 style="color: red;">Features:</h3>#}
{#                    <ul>#}
{#                        {% for category, items in features.items %}#}
{#                            <li><strong style="color: red;">{{ category }}:</strong>#}
{#                                <ul>#}
{#                                    {% for item in items %}#}
{#                                        <li><span style="color: white;">{{ item }}</span></li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="car-image">#}
{#                    <img src="{{ object.image.url }}" alt="Car Image">#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-row">#}
{#                <a class="btn" href="{% url 'update_car_post' object.pk %}">Edit</a>#}
{#                <a class="btn" href="{% url 'delete_car_post' object.pk %}">Delete</a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% load static %}

{% block title %}
    Car Details
{% endblock %}

{% block content %}
<section class="hero">
    <div class="text">
        <div class="car-details">
            <div class="car-info" style="float: left; width: 50%;">
                <br>
                <h2 class="red-text" >{{ brand }}</h2>
                <ul style="list-style: none; padding: 0;">
                    <li class="red-text"><strong>Model:</strong> <span class="white-text">{{ model }}</span></li>
                    <li class="red-text"><strong>Year:</strong> <span class="white-text">{{ object.year }}</span></li>
                    <li class="red-text"><strong>Color:</strong> <span class="white-text">{{ object.color }}</span></li>
                    <li class="red-text"><strong>Price:</strong> <span class="white-text">{{ object.price }}</span></li>
                    <li class="red-text"><strong>Mileage:</strong> <span class="white-text">{{ object.mileage }}</span></li>
                    <li class="red-text"><strong>VIN:</strong> <span class="white-text">{{ object.vin }}</span></li>
                    <li class="red-text"><strong>Description:</strong> <span class="white-text">{{ object.description }}</span></li>
                </ul>
                <h3 style="color: red;">Features:</h3>
                <ul style="list-style: none; padding: 0;">
                    {% for category, items in features.items %}
                    <li>
                        <strong class="red-text">{{ category }}:</strong>
                        <ul style="list-style: none; padding: 0;">
                        
                            {% for item in items %}
                            <li class="white-text"><span>{{ item }}</span></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="big-image">
                <img src="{{ object.image.url }}" alt="Car Image">
            </div>
        </div>
        <div style="clear: both;"></div>
        {% if user.is_authenticated and user == object.user %}
        <div class="form-row">
            <a class="btn" href="{% url 'update_car_post' object.pk %}">Edit</a>
            <a class="btn" href="{% url 'delete_car_post' object.pk %}">Delete</a>
        </div>
        {% endif %}
    {{ owner_info }}
    </div>
</section>
{% endblock %}