{% extends 'base.html' %}

{% block title %}
    Home - Cars
{% endblock %}

{% block content %}
    
<div class="hero">
    <div class="text">
        <h4 style="color: white">Life is too short to drive boring cars.</h4>
        <h1>Find Your <br> <span>Dream Ride</span></h1>
        <p>Experience the thrill of driving a car that matches your passion and style.</p>
{#        <a href="#" class="btn">Explore Now</a>#}
       <div class="buttons-container">
            <a href="#" class="btn explore-btn">Explore Listed Cars</a>
{#            <span style="color: white" class="or">OR</span>#}
           
            <a  href="#" class="btn sell-btn">Sell Your Car</a>
        </div>
       
        
        
    </div>

</div>
{% endblock %}

{% block background_image %}
    {{ background_image }}
{% endblock %}
