{% extends 'base.html' %}
{% load static %}

{% block title %}
    Welcome to AutoVibe!
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="text">
            <div class="wrapper">
                <h1>Welcome to AutoVibe!</h1>
                <img src="{% static 'img/Black and Green Modern Automotive Logo.png' %}" alt="AutoVibe Logo"  style="border-radius: 100%">
                <p>Dear {{ email }},</p>
                <p>We're excited to welcome you to AutoVibe! You are now part of our community of automotive enthusiasts.</p>
                <p>Feel free to explore our website and discover the latest news, reviews, and discussions about cars and automotive lifestyle.</p>
                <p>Thank you for joining AutoVibe!</p>
                <a href="https://autovibe.azurewebsites.net/">
                    <button class="btn btn-danger">Visit AutoVibe</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}