{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit Profile - Cars
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="text">
            <form action="{% url 'profile_update' pk=object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-row">
                    <button type="submit" class="btn sell-btn">Save Changes</button>
                    <a class="btn" href="{% url 'profile_delete' object.pk %}">Delete Profile</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}