{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update Article
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="text">
            <div class="wrapper">
                <h4>Update Article</h4>
                <form method="post" action="{% url 'article_update' pk=article.pk slug=article.slug %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Update</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}